.zo-btn {
    border: 0;
    padding: .5em 1em;
    margin: .15em 0;
    transition: background-color .5s,box-shadow .5s;
    display: inline-block;
    line-height: 1.5;
}

    .zo-btn:hover, .zo-btn:focus {
        box-shadow: 0 6px 20px rgba(0,0,0,.1),inset 0 -4px rgba(0,0,0,.1);
    }

    .zo-btn:active {
        box-shadow: 0 0 1px rgba(0,0,0,0), inset 0 1px 10px rgba(0,0,0,.1);
    }

.zo-btn--l {
    font-size: 125%;
}

.zo-btn--s {
    font-size: 75%;
}

.zo-btn--block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.zo-btn--default {
    color: #333;
    background: #f2f2f2;
}

    .zo-btn--default:hover, .zo-btn--default:focus {
        background-color: #f7f7f7;
    }

    .zo-btn--default:active {
        background-color: #eee;
    }

.zo-btn--primary {
    background-color: #48c;
    color: #fff;
}

    .zo-btn--primary:hover, .zo-btn--primary:focus {
        background-color: #6ae;
    }

    .zo-btn--primary:active {
        background-color: #37b;
    }

.zo-btn--error {
    color: #fff;
    background-color: #c22;
}

    .zo-btn--error:hover, .zo-btn--error:focus {
        background-color: #e44;
    }

    .zo-btn--error:active {
        background-color: #b11;
    }

.zo-btn--success {
    color: #fff;
    background-color: #4a5;
}

    .zo-btn--success:hover, .zo-btn--success:focus {
        background-color: #6c7;
    }

    .zo-btn--success:active {
        background-color: #394;
    }

.zo-btn__splitter {
    display: inline-block;
    height: 1em;
    border-left: 1px solid rgba(255,255,255,.4);
    margin: 0 .5em;
    vertical-align: -.1em;
}

.zo-btn__splitter--dark {
    border-color: rgba(0,0,0,.1);
}

.zo-btnGroup {
    display: inline-block;
    vertical-align: -1em;
}

.zo-btnGroup--vertical {
    width: 5.5em;
}

.zo-btnGroup--block {
    display: block;
}

.zo-btnGroup__btn {
    float: left;
}

.zo-btnGroup--vertical__btn, .zo-btnGroup--block__btn {
    margin: 0;
}
