/*#region fonts */
@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI");
}

@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI Italic"),local("Segoe UI");
    font-style: italic;
}

@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI Light"),local("Segoe WP Light"),local("Segoe UI Semilight"),local("Segoe UI");
    font-weight: 100;
}

@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI Light Italic"),local("Segoe UI Italic"),local("Segoe UI Light");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI Semilight"),local("Segoe WP Semilight"),local("Segoe UI");
    font-weight: 300;
}

@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI Semilight Italic"),local("Segoe UI Italic"),local("Segoe UI Semilight"),local("Segoe UI");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI Semibold"),local("Segoe WP Semibold"),local("Segoe UI");
    font-weight: 600;
}

@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI Semibold Italic"),local("Segoe UI Bold Italic"),local("Segoe UI Semibold"),local("Segoe UI");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI Bold"),local("Segoe UI");
    font-weight: 700;
}

@font-face {
    font-family: "_Segoe";
    src: local("Segoe UI Bold Italic"),local("Segoe UI");
    font-weight: 700;
    font-style: italic;
}
/*#endregion*/

@-ms-viewport {
    width: device-width;
}

body, input, button, select, textarea {
    font: 100%/1.5 "_Segoe","Segoe UI",Seravek,"Avenir next",Arial,sans-serif;
    color: #333;
    -webkit-font-feature-settings: "dlig" 1,"kern" 1,"tnum" 1;
    font-feature-settings: "dlig" 1,"kern" 1,"tnum" 1;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

body {
    margin: 0;
    padding: 0;
}

input, button, select, textarea {
    border-radius: 0;
}

textarea {
    overflow: auto;
}

:-ms-input-placeholder {
    color: #aaa;
}

::-moz-placeholder {
    color: #aaa;
}

::-webkit-input-placeholder {
    color: #aaa;
}

::-ms-expand {
    background: transparent;
    border: 0;
    color: inherit;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #26a;
}

img {
    border: none;
    height: auto;
}

table {
    font-size: 100%;
}

pre, code {
    font-family: Consolas,"Source Code Pro",Menlo,"Droid Sans Mono","Courier New",monospace;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    letter-spacing: 0;
}

h1 {
    font-weight: 700;
    font-size: 250%;
    line-height: 1.1;
    margin: .6em 0 .4em;
}

h2 {
    font-weight: 100;
    font-size: 180%;
    line-height: 1.2;
    margin: .8em 0 .5em;
}

h3 {
    font-weight: 300;
    font-size: 140%;
    line-height: 1.2;
    margin: .7em 0;
}

h4, h5, h6 {
    font-size: 100%;
    margin: 1em 0;
}

p {
    margin: 1em 0;
}
