.zo--textLeft {
    text-align: left;
}

.zo--textCenter {
    text-align: center;
}

.zo--textRight {
    text-align: right;
}

.zo--radius {
    border-radius: 4px;
}

.zo--round {
    border-radius: 99em;
}

.zo--radiusLeft {
    border-radius: 4px 0 0 4px;
}

.zo--radiusRight {
    border-radius: 0 4px 4px 0;
}

.zo--radiusTop {
    border-radius: 4px 4px 0 0;
}

.zo--radiusBottom {
    border-radius: 0 0 4px 4px;
}

.zo-sr {
    position: absolute;
    font-size: 1px;
    top: -9999px;
    left: -9999px;
}
