.zo-container {
    margin: 0 auto;
    max-width: 60em;
}

.zo-g {
    /*width: 100%; Hey we ain't ever gonna consider IE6. */
    min-height: 0;
}

    .zo-g:before, .zo-g:after {
        content: "";
        display: table;
        height: 0;
        visibility: hidden;
        clear: both;
    }

.zo-g--fill {
    margin-right: -1em;
    margin-left: -1em;
}

.zo-g__col {
    float: left;
    min-height: 1px;
    width: 100%;
}

/*#region zo-g__col--s* */
.zo-g__col--s1 {
    width: 8.333%;
}

.zo-g__col--s2 {
    width: 16.666%;
}

.zo-g__col--s3 {
    width: 25%;
}

.zo-g__col--s4 {
    width: 33.333%;
}

.zo-g__col--s5 {
    width: 41.666%;
}

.zo-g__col--s6 {
    width: 50%;
}

.zo-g__col--s7 {
    width: 58.333%;
}

.zo-g__col--s8 {
    width: 66.666%;
}

.zo-g__col--s9 {
    width: 75%;
}

.zo-g__col--s10 {
    width: 83.333%;
}

.zo-g__col--s11 {
    width: 91.666%;
}
/*#endregion*/

/*#region zo-g__col--sOffset*/
.zo-g__col--sOffset1 {
    margin-left: 8.333%;
}

.zo-g__col--sOffset2 {
    margin-left: 16.666%;
}

.zo-g__col--sOffset3 {
    margin-left: 25%;
}

.zo-g__col--sOffset4 {
    margin-left: 33.333%;
}

.zo-g__col--sOffset5 {
    margin-left: 41.666%;
}

.zo-g__col--sOffset6 {
    margin-left: 50%;
}

.zo-g__col--sOffset7 {
    margin-left: 58.333%;
}

.zo-g__col--sOffset8 {
    margin-left: 66.666%;
}

.zo-g__col--sOffset9 {
    margin-left: 75%;
}

.zo-g__col--sOffset10 {
    margin-left: 83.333%;
}

.zo-g__col--sOffset11 {
    margin-left: 91.666%;
}
/*#endregion*/

.zo-g__content {
    margin: 0 1em;
}

.zo--show {
    display: block;
}

.zo--hide {
    display: none;
}

@media all and (min-width:48em) {
    /*#region zo-g__col--m*/
    .zo-g__col--m1 {
        width: 8.333%;
    }

    .zo-g__col--m2 {
        width: 16.666%;
    }

    .zo-g__col--m3 {
        width: 25%;
    }

    .zo-g__col--m4 {
        width: 33.333%;
    }

    .zo-g__col--m5 {
        width: 41.666%;
    }

    .zo-g__col--m6 {
        width: 50%;
    }

    .zo-g__col--m7 {
        width: 58.333%;
    }

    .zo-g__col--m8 {
        width: 66.666%;
    }

    .zo-g__col--m9 {
        width: 75%;
    }

    .zo-g__col--m10 {
        width: 83.333%;
    }

    .zo-g__col--m11 {
        width: 91.666%;
    }

    .zo-g__col--m12 {
        width: 100%;
    }
    /*#endregion*/

    /*#region zo-g__col--mOffset*/
    .zo-g__col--mOffset0 {
        margin-left: 0;
    }

    .zo-g__col--mOffset1 {
        margin-left: 8.333%;
    }

    .zo-g__col--mOffset2 {
        margin-left: 16.666%;
    }

    .zo-g__col--mOffset3 {
        margin-left: 25%;
    }

    .zo-g__col--mOffset4 {
        margin-left: 33.333%;
    }

    .zo-g__col--mOffset5 {
        margin-left: 41.666%;
    }

    .zo-g__col--mOffset6 {
        margin-left: 50%;
    }

    .zo-g__col--mOffset7 {
        margin-left: 58.333%;
    }

    .zo-g__col--mOffset8 {
        margin-left: 66.666%;
    }

    .zo-g__col--mOffset9 {
        margin-left: 75%;
    }

    .zo-g__col--mOffset10 {
        margin-left: 83.333%;
    }

    .zo-g__col--mOffset11 {
        margin-left: 91.666%;
    }
    /*#endregion*/

    .zo--mShow {
        display: block;
    }

    .zo--mHide {
        display: none;
    }
}

@media all and (min-width:60em) {
    /*#region zo-g__col--l*/
    .zo-g__col--l1 {
        width: 8.333%;
    }

    .zo-g__col--l2 {
        width: 16.666%;
    }

    .zo-g__col--l3 {
        width: 25%;
    }

    .zo-g__col--l4 {
        width: 33.333%;
    }

    .zo-g__col--l5 {
        width: 41.666%;
    }

    .zo-g__col--l6 {
        width: 50%;
    }

    .zo-g__col--l7 {
        width: 58.333%;
    }

    .zo-g__col--l8 {
        width: 66.666%;
    }

    .zo-g__col--l9 {
        width: 75%;
    }

    .zo-g__col--l10 {
        width: 83.333%;
    }

    .zo-g__col--l11 {
        width: 91.666%;
    }

    .zo-g__col--l12 {
        width: 100%;
    }
    /*#endregion*/

    /*#region zo-g__col--lOffset*/
    .zo-g__col--lOffset0 {
        margin-left: 0;
    }

    .zo-g__col--lOffset1 {
        margin-left: 8.333%;
    }

    .zo-g__col--lOffset2 {
        margin-left: 16.666%;
    }

    .zo-g__col--lOffset3 {
        margin-left: 25%;
    }

    .zo-g__col--lOffset4 {
        margin-left: 33.333%;
    }

    .zo-g__col--lOffset5 {
        margin-left: 41.666%;
    }

    .zo-g__col--lOffset6 {
        margin-left: 50%;
    }

    .zo-g__col--lOffset7 {
        margin-left: 58.333%;
    }

    .zo-g__col--lOffset8 {
        margin-left: 66.666%;
    }

    .zo-g__col--lOffset9 {
        margin-left: 75%;
    }

    .zo-g__col--lOffset10 {
        margin-left: 83.333%;
    }

    .zo-g__col--lOffset11 {
        margin-left: 91.666%;
    }
    /*#endregion*/

    .zo--lShow {
        display: block;
    }

    .zo--lHide {
        display: none;
    }
}
