.zo-navbar {
    background: #fff;
    line-height: 1.5;
    position: relative;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
}

    .zo-navbar:before, .zo-navbar:after {
        content: "";
        display: table;
        height: 0;
        visibility: hidden;
        clear: both;
    }

.zo-navbar--bordered {
    border: 1px solid #eee;
}

.zo-navbar__toggle {
    float: right;
    font-family: "Lucida Sans Unicode","Hiragino Sans","Hiragino Kaku Gothic Pro",sans-serif;
    font-size: 200%;
    line-height: 1.75;
    padding: 0 .5em;
    color: #333;
}

    .zo-navbar__toggle:before {
        content: "\2261";
    }

.zo-navbar__link {
    color: #333;
    transition: background .5s;
}

    .zo-navbar__link:hover, .zo-navbar__link:focus {
        background: #f3f3f3;
    }

.zo-navbar__nav__link, .zo-navbar__brand__link {
    padding: 1em;
    display: block;
}

.zo-navbar__brand {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    line-height: 1.2;
    font-weight: 300;
    overflow: hidden;
}

.zo-navbar__brand__link {
    padding: .8em;
}

.zo-navbar__nav {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #eee;
    visibility: hidden;
}

.zo-navbar__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.zo-navbar__item {
    margin: 0;
}

@media screen and (min-width:48em) {
    .zo-navbar__toggle {
        display: none;
    }

    .zo-navbar__brand {
        float: left;
    }

    .zo-navbar__nav {
        position: relative;
        visibility: visible;
        width: auto;
        border: 0;
    }

    .zo-navbar__list {
        float: left;
    }

    .zo-navbar__list--right {
        float: right;
    }

    .zo-navbar__item {
        float: left;
    }
}
