.zo-navbar {
    background: #fff;
    line-height: 1.5;
    position: relative;
    border-color: #eee;
    border-width: 0 0 1px;
    border-style: solid;
    margin-bottom: 1.5em;
    min-height: 0;
}

    .zo-navbar:before, .zo-navbar:after {
        content: "";
        display: table;
        height: 0;
        visibility: hidden;
        clear: both;
    }

.zo-navbar--bordered {
    border-width: 1px;
}

.zo-navbar-borderless {
    border-width: 0;
}

.zo-navbar__toggle {
    float: right;
    font-family: "Lucida Sans Unicode","Hiragino Sans","Hiragino Kaku Gothic Pro",sans-serif;
    font-size: 200%;
    line-height: 1.75;
    padding: 0 .5em;
    margin: 0 .25em;
}

    .zo-navbar__toggle:before {
        content: "\2261";
    }

.zo-navbar__link {
    color: #333;
    transition: background .5s;
}

    .zo-navbar__link:hover, .zo-navbar__link:focus, .zo-navbar__link.zo--active {
        background: #f3f3f3;
    }

.zo-navbar__nav__link, .zo-navbar__brand__link {
    padding: 1em;
    display: block;
}

.zo-navbar__brand {
    margin: 0 .4em;
    padding: 0;
    font-size: 1.25em;
    line-height: 1.2;
    font-weight: 300;
    overflow: hidden;
    float: left;
}

.zo-navbar__brand__link {
    padding: .8em;
}

.zo-navbar__nav {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #eee;
    visibility: hidden;
    z-index: 1;
    transition: .3s;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    opacity: 0;
}

    .zo-navbar__nav.zojs-navbar--on {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: opacity .4s,-webkit-transform .4s cubic-bezier(.2,0,.7,1.8);
        transition: opacity .4s,transform .4s cubic-bezier(.2,0,.7,1.8);
    }

.zo-navbar__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.zo-navbar__item {
    margin: 0;
}

.zo-navbar--dark {
    background: #48c;
    color: #fff;
    border-color: #26a;
}

.zo-navbar__nav--bgDark {
    background: #26a;
    border-color: #26a;
}

.zo-navbar__link--bgDark {
    color: #fff;
}

    .zo-navbar__link--bgDark:hover, .zo-navbar__link--bgDark:focus, .zo-navbar__link--bgDark.zo--active {
        background-color: #37b;
    }

.zo-navbar--radius {
    border-radius: 6px;
}

@media screen and (min-width:48em) {
    .zo-navbar__toggle {
        display: none;
    }

    .zo-navbar__nav {
        position: relative;
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        transition: 0s;
        width: auto;
        border: 0;
        margin-right: .5em;
        background-color: transparent;
    }

    .zo-navbar__list {
        float: left;
    }

    .zo-navbar__list--right {
        float: right;
    }

    .zo-navbar__item {
        float: left;
    }
}
