.zo-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    vertical-align: 1px;
}

.zo-triangle--down {
    vertical-align: -2px;
}

.zo-triangle--left {
    border-left: 0;
}

.zo-triangle--up {
    vertical-align: 3px;
}

.zo-triangle--right {
    border-right: 0;
}

.zo-triangle--whiteDown {
    border-top-color: #fff;
}

.zo-triangle--darkDown {
    border-top-color: #333;
}

.zo-triangle--whiteLeft {
    border-right-color: #fff;
}

.zo-triangle--darkLeft {
    border-right-color: #333;
}

.zo-triangle--whiteUp {
    border-bottom-color: #fff;
}

.zo-triangle--darkUp {
    border-bottom-color: #333;
}

.zo-triangle--whiteRight {
    border-left-color: #fff;
}

.zo-triangle--darkRight {
    border-left-color: #333;
}
