.zo-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    vertical-align: 1px;
}

.zo-triangle--down {
    border-top: 5px solid;
    vertical-align: -2px;
}

.zo-triangle--left {
    border-right: 5px solid;
    border-left: 0;
}

.zo-triangle--up {
    border-bottom: 5px solid;
    vertical-align: 3px;
}

.zo-triangle--right {
    border-left: 5px solid;
    border-right: 0;
}
